.create-body {
    padding: 30px;
}
.create-body .col-lg-7 {
    margin: 0 auto;
    padding: 15px;
    background: #d2d2d2;
    border-radius: 8px;
}
#addNumber, .removeNumberBtn {
    margin-top: 10px;
    margin-left: 5px;
}
.required {
    color: red;
}
.home-row {
    margin-top: 20px;
}
footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}
.pagination {
    justify-content: center;
}
.contact-info {
    align-self: center;
    margin-left: 20px;
}
.contact-img {
    max-height: 300px;
    max-width: 200px;
    height: auto;
}
.contact-data {
    display: flex;
    justify-content: center;
}
